:root {
  --background: hsl(0, 0%, 98%);
  --foreground: hsl(0, 0%, 0%);
  --foreground-secondary: hsl(0, 0%, 40%);
  --accent-1: hsl(0, 0%, 100%);
  --accent-2: hsl(0, 0%, 96%);
  --accent-3: hsl(0, 0%, 92%);
}

:root.dark {
  --background: hsl(0, 0%, 0%);
  --foreground: hsL(0, 0%, 100%);
  --foreground-secondary: hsl(0, 0%, 50%);
  --accent-1: hsl(0, 0%, 4%);
  --accent-2: hsl(0, 0%, 8%);
  --accent-3: hsl(0, 0%, 12%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
}

body {
  font-family: "Inter", sans-serif;
  background: var(--background);
  color: var(--foreground);
  max-width: 70rem;
  margin: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 1rem;
  margin-bottom: 2rem;
}

main {
  padding: 0 1rem;
}

h1 {
  font-size: 1rem;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.header-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-left {
  display: flex;
  align-items: center;
  position: relative;
}

.header-right {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.icon-wrapper {
  cursor: pointer;
  width: 2.25rem;
  height: 2.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

.icon-wrapper:hover path {
  color: var(--foreground);
}

.theme-toggle {
  cursor: pointer;
  width: 2.25rem;
  height: 2.25rem;
}

.theme-toggle:hover path {
  color: var(--foreground);
}

.theme-slider {
  margin-top: -2.25rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  pointer-events: none;
  transition: margin 250ms ease;
}

:root.dark .theme-slider {
  margin-top: 0rem;
}

:root.dark .theme-slider .light {
  opacity: 0;
}

:root.dark .theme-toggle .dark {
  opacity: 1;
}

.icon-wrapper > svg {
  width: 1.25rem;
  height: 1.25rem;
  font-size: 1rem;
}

.icon-wrapper path {
  color: var(--foreground-secondary);
  transition: color 250ms ease;
}

.theme-toggle .dark {
  opacity: 0;
}

.projects-section {
  margin-bottom: 1rem;
}

.projects-wrapper {
  -webkit-tap-highlight-color: transparent;
  display: flex;
  gap: 4rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.project-wrapper-link {
  text-decoration: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(2rem);
    filter: blur(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0rem);
    filter: blur(0);
  }
}

.project-wrapper {
  opacity: 0;
  transform: translateY(2rem);
  filter: blur(20px);
  display: inline-block;
  transition: scale 250ms ease;
  border-radius: 1rem;
  cursor: pointer;
  overflow: hidden;
  max-width: 30rem;
  background: var(--accent-1);
  backdrop-filter: blur(5px);
  flex-grow: 1;
  border: 1px solid var(--accent-3);
  animation: fadeIn 500ms ease calc(var(--i) * 250ms) forwards;
}

.project-wrapper:hover {
  scale: 1.025;
}

.project-body {
  position: relative;
  flex-shrink: 0;
  overflow: hidden;
  padding: 0 2rem;
}

.project-snippet {
  width: 100%;
  border-radius: 1rem;
  vertical-align: middle;
  border: 1px solid var(--accent-3);
}

.project-header {
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.project-header-left {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.project-header-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-title {
  color: var(--foreground);
  font-size: 1rem;
  font-weight: 400;
}

.project-description {
  color: var(--foreground-secondary);
  font-size: 0.875rem;
}

.project-footer {
  width: 100%;
  padding: 1rem 2rem 2rem;
  display: flex;
  gap: 1rem;
}

.project-tag {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.875rem;
  height: 2.25rem;
  min-width: 2.25rem;
  padding: 0 1rem;
  border-radius: 1rem;
  background: var(--accent-2);
  border: 1px solid var(--accent-3);
  color: var(--foreground-secondary);
  line-height: 1;
}

@media (max-width: 768px) {
  .header {
    padding: 1rem;
  }

  .header-right {
    gap: 0;
  }

  path {
    color: var(--foreground) !important;
  }

  .projects-wrapper {
    gap: 2rem;
  }

  .project-header {
    padding: 1rem;
  }

  .project-body {
    padding: 0 1rem;
  }

  .project-footer {
    padding: 1rem;
  }
}
